<p>quotes works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6" style="border-top: solid brown;">
            <h2 style="background-color: cornsilk; color:  black; text-align: center;" >Quotes:</h2>
            <ul  *ngFor = 'let quote of quotes; let i=index'>
                <li appMostLiked> 
                    "{{quote.quotation}}"
                </li>
                <p>
                    <button (click)='addLike(i)'>Like ({{quote.likes}})</button>  
                </p>
                <p>
                    <button (click)='addDislike(i)'>Dislike ({{quote.dislikes}})</button>  
                </p>
                <button (click)='viewDetails(i)'>View details</button>
                <app-quote-details *ngIf ='quote.showDetails' [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
                <hr>
            </ul>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>