<p>quotes works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Quotes:</h2>
            <ul  *ngFor = 'let quote of quotes; let i=index'>
                <li> 
                    "{{quote.quotation}}"
                </li>
                <p>
                    <button (click)='addLike(i)'>Like ({{quote.likes}})</button>  
                </p>
                <p>
                    <button (click)='addDislike(i)'>Dislike ({{quote.dislikes}})</button>  
                </p>
            </ul>
        </div>
    </div>
</div>